/* ESTILOS PROPIOS */
a{
	text-decoration: none;
}

.fondo{
	background: url("../img/bg.jpg");
	color: #fff;
	background-size: cover;
	background-position: center;
}

.colornv{
	background-color: #0093bf;
}

.titulos{
	color: #0093bf;
}

.titulosfooter{
	color: #fff;
}

.colorFuenteLink {
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: .8em;
}

.enlace{
	color: #fff;
}

